.vscode/**
.vscode-test/**
.github/**
coverage/**
out/test/**
test/**
tests/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
docs/images/**
node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
plan.md
